* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Cormorant SC', serif;
}


a {
    text-decoration: none;
}

.hero__section {
    width: 100%;
    min-height: 100vh;
    background-color: aliceblue;
    text-align: left;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-image: url(/images/Top_Page.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}

.section {
    padding: 15rem 5rem;
}

.hero__content {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
}

.hero__title {
    font-size: 50px;
    font-weight: 900;
    color: aliceblue;
    width: 75%;
    text-transform: capitalize;
}

.hero__summary {
    margin: 1.5rem 0;
    font-size: 20px;
    font-weight: 900;
    color: aliceblue;
    width: 75%;
    text-transform:initial;
}

.hero__buttons {
    margin: 1.5rem 0;
}

.primary__button {
    margin: 3px;
    padding: 10px 15px;
    background-color: orangered;
    color: aliceblue;
    font-size: 18px;
    font-weight: 700;
    border-radius: 10px;
    border: 2px solid transparent;
}

.purpose__container {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.purpose__container .purpose__details {
    width: 55%;
}

.purpose__container .purpose__details:nth-child(1) {
    padding-right: 4rem;
    
}
.purpose__container .purpose__details:nth-child(2) {
    padding-left: 4rem;
    
}

.purpose__container .purpose__media {
    width: 45%;
    object-fit: cover;
    border-radius: 10px;
}

.purpose__title {
    font-size: 3rem;
    font-weight: 900;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.purpose__summary .purpose{
    padding: 1rem 0;
    font-size: 18px;
    color: gray;
    font-weight: 900;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

